<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hey from server</h1>
<h1>this help in making our server clean</h1>
<% urls.forEach((i) => { %>
    <li><%= i.shortId %></li>
<% }); %>
</body>
</html>